{% import (prototype.current.pathRel + "/macros/macros.html") as macros %}

{% extends "layouts/dwp_admin_layout.html" %}

{% block after_header %}

  {% block admin_header %}
  
  {% if not page.supressnav %}
  
    <div class="header-navigation">
      
      <div class="width-constraintjskjsk">
      
        <div class="header-navigation__primary">
          
          {% set primaryNav = prototype.current.sitemap.levels[0] %}
          
          <nav class="primary-navigation primary-navigation--h">
            <ul class="primary-navigation__links">
              
              {% for link in primaryNav.items %}
                
                {% set currentPage = (link.text | toHyphenated) == (page.nav.section | toHyphenated) %}
              
                <li class="primary-navigation__links__item">
                  <a href="{{ link.url }}" class="primary-navigation__link{{ ' primary-navigation__link--active' if currentPage }}">{{ link.text }}</a>
                </li>  
              {% endfor %}
            
            </ul>
          </nav>
          
        </div>
        
        {% if not page.loggedout %}
          
          <div class="header-navigation__secondary">
            
            <ul class="tertiary-links">
              <li class="tertiary-links__item"><a href="#">Link 01</a></li>
              <li class="tertiary-links__item">{{ session.email | getUserNameFromEmail | title + ' ' if session.email }}<a href="#">Logout</a></li>
            </ul>
            
          </div>
          
        {% endif %}
        
      </div>
            
    </div>
    
    {% endif %}
    
  {% endblock %}
  
{% endblock %}

{% block before_primary %}
  
  {% if not page.supressnav %}
  
  <div class="page-head">
    
  <h1 class="heading-large">{{ page.title }}</h1>
  
  {% for primaryLink in primaryNav.items %}
    
    {% set currentSection = (primaryLink.text | toHyphenated) == (page.nav.section | toHyphenated) %}
    
    {% if currentSection %}
      
    <nav class="sub-navigation">
      <ul class="sub-navigation__items">
      
        {% for secondaryLink in primaryLink.items %}
          
          {% set currentSubSection = (secondaryLink.text | toHyphenated) == (page.nav.subsection | toHyphenated) %}
          
          <li class="sub-navigation__item{{ ' sub-navigation__item--active' if currentSubSection }}"><a href="{{ secondaryLink.url | d('#') }}" class="sub-navigation__item__link">{{ secondaryLink.text }}</a></li>
      
        {% endfor %}
      
      </ul>
    </nav>

    {% endif %}
    
  {% endfor %}
  
</div>

{% endif %}

{% endblock %}

{% block body_end %}
  {{ super() }}
  <script src="/public/javascripts/jquerycolor.js" charset="utf-8"></script>
  <script src="assets/scripts/app.js" charset="utf-8"></script>
  {# {{ ((prototype.current.path + (session | querystringify)) | log) if session }} #}
{% endblock %}