{% set page = {
  title: 'Cases',
  dev: true,
  html_classes: [],
  nav: {
    section: 'Cases',
    subsection: 'Day in view',
    hidePrimary: true
  },
  layout: prototype.current.layoutPath + 'layout.html',
  primary: {
    col: "full"
  },
  secondary: false
} %}

{% extends page.layout %}

{% block primary %}

<div class="container">
<!--<span class="heading-secondary">Tuesday 20 September</span>-->
<h1 class="heading-large top15">Your daily appointments</h1>


<div class="grid-row">
  <div class="column-two-thirds">

        <table class="dayview">
             
             <thead>
                <tr>
                  <th scope="col" colspan="2">Monday 26 September</th>
                </tr>
              </thead>

              <tbody>
                  <tr>
                      <td class="appoint">
                      9:30 - 9:45
                      </td>
                      <td>
                        <span class="interview">Phone - Elidia Helsel</span>
                        <span class="notes">Notes: Customer is hard of hearing</span>
                        <span class="address">
                        DWP - NORTH WEST GOR 03 </br>
                        Stockport Wellesley House 30 Wellington Road North </br>
                        STOCKPORT </br>
                        SK4 1LS
                        </span>
                      </td>
                      <td class="open-case"><a href="" title="Open case">Open case</a></td>
                  </tr>
                  <tr>
                      <td class="appoint">
                      10:30 - 10:45
                      </td>
                      <td>
                        <span class="interview">Phone - Hortense Maglione</span>
                      </td>
                      <td class="open-case"><a href="" title="Open case">Open case</a></td>
                  </tr>
                  <tr>
                      <td class="appoint">
                      1:00 - 1:30
                      </td>
                      <td>
                        <span class="interview">Phone - Mikaela Hy</span>
                      </td>
                      <td class="open-case"><a href="" title="Open case">Open case</a></td>
                  </tr>
                  <tr>
                      <td class="appoint">
                      2:00 - 2:15
                      </td>
                      <td>
                        <span class="interview">Interview - Corrie Willert </span>
                        <span class="address">
                        DWP - NORTH WEST GOR 03 </br>
                        Stockport Wellesley House 30 Wellington Road North </br>
                        STOCKPORT </br>
                        SK4 1LS
                        </span>
                      </td>
                      <td class="open-case"><a href="" title="Open case">Open case</a></td>
                  </tr>
                  <tr>
                      <td class="appoint">
                      4:00 - 4:30
                      </td>
                      <td>
                        <span class="interview">Interview - Samuel Mattern</span>
                        <span class="notes">Notes: This person is vulnerable</span>
                        <span class="address">
                        DWP - NORTH WEST GOR 03 </br>
                        Stockport Wellesley House 30 Wellington Road North </br>
                        STOCKPORT </br>
                        SK4 1LS
                        </span>
                      </td>
                      <td class="open-case"><a href="" title="Open case">Open case</a></td>
                  </tr>
                  

              </tbody>

        </table>
  </div>
</div>






  

  </div>












{% endblock %}