{% set page = { 
  title: '', 
  dev: true, 
  html_classes: [], 
  nav: { 
    section: 'Case view', 
    subsection: 'Linked cases (1)' 
  }, 
  layout: prototype.current.layoutPath + 'layout.html', 
  primary: true, 
  secondary: true
} %}

{% extends page.layout %}

{% block primary %}

  <h1 class="heading-large top15">Linked cases</h1>
  <table class="your-cases">
      <thead>
          <tr>

              <th scope="col">Case No</th>
              <th scope="col">Last name</th>
              <th scope="col">First name</th>
              <th scope="col">Offence type</th>
              <th scope="col">Closed</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>
                  <a href="case-view" title="View case">122560023</a>
              </td>
              <td>Dusttrap</td>
              <td>Nuno</td>
              <td>Living together</td>
              <td>12 Sep 2016</td>
          </tr>
      </tbody>
  </table>

{% endblock %}

{% block secondary %}
    {{ macros.casedata({ hideActions: true }) }}
{% endblock %}