// import resources
@import 'prototype/imports';

.alpha{
  
  &-01, &-02, &-03, &-04, &-05, &-06, &-07, &-08, &-09{

  .your-cases{
  	thead{
  		background: $highlight-colour;
  	}
  	td, th{
	font-size: 16px;
	padding-left: 10px;
	}
	tr{
		&:hover{
		
		background: $highlight-colour;
		}
	}
	}

	.column-full{
		padding: 0 15px;
	}
  		

	}
}

