
{% set page = {
  nav: {
    section: 'Change password',
    subsection: 'Current',
    hidePrimary: true
  },
  layout: prototype.current.layoutPath + 'layout.html',
  secondary: false
} %}



{% extends page.layout %}

{% block primary %}

  <h1 class="heading-large">Your password has been updated</h1>
  <p>Use the new password for all future login sessions</p>
  
  <form action="your-cases" method="post">

    <fieldset class="primary-nav form-group">
      <legend class="visuallyhidden">Form Navigation</legend>
      <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    </fieldset>
  </form>





{% endblock %}
