{% set page = {
  title: '',
  dev: true,
  html_classes: [],
  nav: {
    section: 'Intervention',
    subsection: 'Intervention'
  },
  layout: prototype.current.layoutPath + 'layout.html',
  primary: {
    col: "full"
  },
  secondary: false
} %}

{% extends page.layout %}

{% block primary %}

<div class="container">

<h1 class="heading-large top15">Intervention</h1>



<div class="grid-row">
  <div class="column-full">
        <h1 class="heading-small">Security questions</h1>
        <ol class="list list-number">
          <li>Test</li>
          <li>Test</li>
          <li>Test</li>
          <li>Test</li>
          <li>Test</li>
          <li>Test</li>

        </ol>

         <h1 class="heading-small">Telephony script</h1>
        <p></p>
  </div>
</div>

<div class="grid-row">
    <div class="column-full case-nav">
    <p>&nbsp;</p>
      
    <form action="book-interview" method="post">
      <fieldset class="">
        <legend class="visuallyhidden">LT54</legend>
        <input type="submit" value="LT54" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </fieldset>
    </form>


    <form action="close" method="post">
      <fieldset class="">
        <legend class="visuallyhidden">MF47</legend>
        <input type="submit" value="MF47" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </fieldset>
    </form>

    <form action="reject" method="post">
      <fieldset class="">
        <legend class="visuallyhidden">Set BF</legend>
        <input type="submit" value="Set BF" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </fieldset>
    </form>


    <form action="reroute" method="post">
      <fieldset class="">
        <legend class="visuallyhidden">Refer to DM</legend>
        <input type="submit" value="Refer to DM" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </fieldset>
    </form>

    </div>
  </div>






{% endblock %}