{% set page = {
  title: 'FES',
  nav: {
    section: 'About',
    subsection: 'link primary 1.2',
    hideTertiary: true
  },
  dev: true,
  hideNav: true,
  hideSearch: true,
  layout: prototype.current.layoutPath + 'layout.html'
} %}

{% extends page.layout %}

{% block primary %}

  <h1 class="heading-large">Email sent</h1>
  <p>An email has been sent to ###. Open the email and a link will be provided to reset your password.</p>



  <h1 class="heading-small">Not received the email? </h1>
  <p>If for any reason you have not received the email, you can <a href="" title="Request another email to be sent">request another one to be sent</a>.</p>

    <h1 class="heading-small">Remembered your password?</h1>
  <p>Go to the <a href="index" title="Sign in">Sign in screen</a> and enter it along with your email.</p>
 

{% endblock %}