{% set page = {
  title: '',
  dev: true,
  html_classes: [],
  nav: {
    section: 'Work list/Diary',
    subsection: 'Search all cases',
    hidePrimary: true
  },
  layout: prototype.current.layoutPath + 'layout.html',
  primary: {
    col: "full"
  },
  secondary: false
} %}

{% extends page.layout %}

{% block primary %}

<h1 class="heading-large top15">Custom search</h1>


<form action="" method="post">
    

<p class="standout">What would you like to see in your results.</p>

  <div class="grid-row test-options">



        <fieldset>
          <legend class="visually-hidden">Filter your results.</legend>

        <div class="column-one-quarter">
           <label class="block-label" for="option1">
            <input id="option1" name="option-1" type="checkbox" value="yes">
            Case created
          </label>
          <label class="block-label" for="option5">
            <input id="option5" name="option-5" type="checkbox" value="yes">
            Stage
          </label>
        </div>

        <div class="column-one-quarter">
          <label class="block-label" for="option2">
            <input id="option2" name="option-2" type="checkbox" value="yes">
            Case number
          </label>
          <label class="block-label" for="option6">
            <input id="option6" name="option-6" type="checkbox" value="yes">
            Activity
          </label>
        </div>

        <div class="column-one-quarter">
          <label class="block-label" for="option3">
            <input id="option3" name="option-3" type="checkbox" value="yes">
              Last/First name
          </label>
          <label class="block-label" for="option7">
            <input id="option7" name="option-7" type="checkbox" value="yes">
              Due date
          </label>
        </div>

        <div class="column-one-quarter">
          <label class="block-label" for="option4">
            <input id="option4" name="option-4" type="checkbox" value="yes">
                Offence type
          </label>
        </div>

        </fieldset>
 

  </div>



<div class="grid-row">
  
  <div class="column-two-thirds search">
      <label class="form-label standout" for="search">
      Enter: NI, case number, last name or date of birth.
      </label>
      <input class="form-control searchbox" id="search"  type="text">


      <fieldset class="primary-nav form-group">
        <legend class="visuallyhidden">Form Navigation</legend>
        <input type="submit" value="Search" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </fieldset>


  </div>

</div>














</form>


{% endblock %}