{% set page = {
  title: '',
  nav: {
    section: 'Worklist/Diary',
    subsection: 'Worklist',
    hidePrimary: true
  },
  layout: prototype.current.layoutPath + 'layout.html',
  primary: {
    col: "full" 
  },
  secondary: false
} %}

{% extends page.layout %}
 
{% block primary %}









  <h1 class="heading-large top15 nobottom">Customise your work list</h1>
  <p class="standout">Select the things you need to see.</p>

  <div class="grid-row test-options">

     <form>
        <fieldset>
          <legend class="visually-hidden">Select the things you need to see.</legend>

        <div class="column-one-quarter">
           <label class="block-label" for="option1">
            <input id="option1" name="option-1" type="checkbox" value="yes">
            Case created
          </label>
          <label class="block-label" for="option5">
            <input id="option5" name="option-5" type="checkbox" value="yes">
            Stage
          </label>
        </div>

        <div class="column-one-quarter">
          <label class="block-label" for="option2">
            <input id="option2" name="option-2" type="checkbox" value="yes">
            Case number
          </label>
          <label class="block-label" for="option6">
            <input id="option6" name="option-6" type="checkbox" value="yes">
            Activity
          </label>
        </div>

        <div class="column-one-quarter">
          <label class="block-label" for="option3">
            <input id="option3" name="option-3" type="checkbox" value="yes">
              Last/First name
          </label>
          <label class="block-label" for="option7">
            <input id="option7" name="option-7" type="checkbox" value="yes">
              Due date
          </label>
        </div>

        <div class="column-one-quarter">
          <label class="block-label" for="option4">
            <input id="option4" name="option-4" type="checkbox" value="yes">
                Offence type
          </label>
        </div>

        </fieldset>
      </form>

  </div>

  <div class="grid-row">
    <div class="column-full">
<p>&nbsp;</p>

    <fieldset class="primary-nav form-group">
      <legend class="visuallyhidden">Form Navigation</legend>
      <input type="submit" value="View your work list" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    </fieldset>

    </div>

  </div>




 <!--  <div class="pager border">
    <div class="pager-controls">
      
      <ul class="pager-items">
        <li>1</li>
        <li><a href="#">2</a></li>
      </ul>
      
      <a class="pager-next" href="#">Next</a>
      
    </div>
    
    <div class="pager-summary">Showing 1 &ndash; 25 of 50 cases</div>   
  </div>
-->


<!--
<table class="your-cases">
  <thead>
    <tr>
      <th scope="col">Case created</th>
      <th scope="col">Case No</th>
      <th scope="col" >Last/First Name</th>
      <th scope="col">Offence type</th>
      <th scope="col">Stage</th>
      <th scope="col">Activity</th>
      <th scope="col">Due date</th>
    </tr>
  </thead>
  <tbody>




    <tr>
      <td>1 Nov 2016</td>
      <td><a href="case-view" title="Open case">167926789</a></td>
      <td>Farrowash<br>Jason</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>15 Nov 2016</td>
    </tr>
    <tr>
      <td>1 Nov 2016</td>
      <td><a href="case-view" title="Open case">129350328</a></td>
      <td>Steelcreek<br>David</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>15 Nov 2016</td>
    </tr>
    <tr>
      <td>1 Nov 2016</td>
      <td><a href="case-view" title="Open case">122560023</a></td>
      <td>Dusttrap<br>Ross</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>15 Nov 2016</td>
    </tr>
    <tr>
      <td>2 Nov 2016</td>
      <td><a href="case-view" title="Open case">999871112</a></td>
      <td>Whitfist<br>Matthew</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>16 Nov 2016</td>
    </tr>
    <tr>
      <td>2 Nov 2016</td>
      <td><a href="case-view" title="Open case">445771235</a></td>
      <td>Doomglory<br>Liza</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>16 Nov 2016</td>
    </tr>








    <tr>
      <td>3 Nov 2016</td>
      <td><a href="case-view" title="Open case">938471190</a></td>
      <td>Bronzejumper<br>Laurence</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>17 Nov 2016</td>
    </tr>
    <tr>
      <td>3 Nov 2016</td>
      <td><a href="case-view" title="Open case">090933585</a></td>
      <td>Forestvale<br>Steven</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>17 Nov 2016</td>
    </tr>
    <tr>
      <td>3 Nov 2016</td>
      <td><a href="case-view" title="Open case">11225977</a></td>
      <td>Grizzlypike<br>Peter</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>17 Nov 2016</td>
    </tr>
    <tr>
      <td>3 Nov 2016</td>
      <td><a href="case-view" title="Open case">444294872</a></td>
      <td>Dawnheart<br>Brian</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>17 Oct 2016</td>
    </tr>
    <tr>
      <td>3 Nov 2016</td>
      <td><a href="case-view" title="Open case">444429155</a></td>
      <td>Bronzestrike<br>Andrew</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>17 Nov 2016</td>
    </tr>









        <tr>
      <td>4 Nov 2016</td>
      <td><a href="case-view" title="Open case">111092210</a></td>
      <td>Blueglow<br>Madeline</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>18 Nov 2016</td>
    </tr>
    <tr>
      <td>4 Nov 2016</td>
      <td><a href="case-view" title="Open case">222009287</a></td>
      <td>Fistroar<br>David</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>18 Nov 2016</td>
    </tr>
    <tr>
      <td>4 Nov 2016</td>
      <td><a href="case-view" title="Open case">444000926</a></td>
      <td>Clearhorn<br>Maureen</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>18 Nov 2016</td>
    </tr>
    <tr>
      <td>4 Nov 2016</td>
      <td><a href="case-view" title="Open case">111552999</a></td>
      <td>Cliffbelly<br>Nancy</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>18 Nov 2016</td>
    </tr>
    <tr>
      <td>4 Nov 2016</td>
      <td><a href="case-view" title="Open case">666092669</a></td>
      <td>Fullrock<br>Sean</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>18 Nov 2016</td>
    </tr>








        <tr>
      <td>4 Nov 2016</td>
      <td><a href="case-view" title="Open case">222003335</a></td>
      <td>Truthash<br>Gary</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>18 Nov 2016</td>
    </tr>
    <tr>
      <td>5 Nov 2016</td>
      <td><a href="case-view" title="Open case">320494678</a></td>
      <td>Frozenwatcher<br>Edward</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>19Nov 2016</td>
    </tr>
    <tr>
      <td>5 Nov 2016</td>
      <td><a href="case-view" title="Open case">888325987</a></td>
      <td>Softfang<br>Pamela</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>19 Nov 2016</td>
    </tr>
    <tr>
      <td>5 Nov 2016</td>
      <td><a href="case-view" title="Open case">333493435</a></td>
      <td>Whitesnarl<br>Jon</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>19 Nov 2016</td>
    </tr>
    <tr>
      <td>6 Nov 2016</td>
      <td><a href="case-view" title="Open case">225455676</a></td>
      <td>Terrawound<br>David</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>20 Nov 2016</td>
    </tr>





        <tr>
      <td>6 Nov 2016</td>
      <td><a href="case-view" title="Open case">888856563</a></td>
      <td>Bearbash<br>Sharman</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>20 Nov 2016</td>
    </tr>
    <tr>
      <td>6 Nov 2016</td>
      <td><a href="case-view" title="Open case">214353534</a></td>
      <td>Lie<br>Lei</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>20 Nov 2016</td>
    </tr>
    <tr>
      <td>6 Nov 2016</td>
      <td><a href="case-view" title="Open case">667090888</a></td>
      <td>Silentcrag<br>Mark</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>20 Nov 2016</td>
    </tr>
    <tr>
      <td>7 Nov 2016</td>
      <td><a href="case-view" title="Open case">345678731</a></td>
      <td>Downrun<br>Fred</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>21 Nov 2016</td>
    </tr>
    <tr>
      <td>7 Nov 2016</td>
      <td><a href="case-view" title="Open case">354567671</a></td>
      <td>Crowash<br>Carol</td>
      <td>Capital</td>
      <td>Info gathering</td>
      <td>Suspended</td>
      <td>21 Nov 2016</td>
    </tr>
  
  </tbody>
</table>

<div class="pager">
    <div class="pager-controls">
      
      <ul class="pager-items">
        <li>1</li>
        <li><a href="#">2</a></li>
      </ul>
      
      <a class="pager-next" href="#">Next</a>
      
    </div>
    
    <div class="pager-summary">Showing 1 &ndash; 25 of 50 cases</div>   
  </div>

-->
{% endblock %}