{% set page = {
  title: '',
  dev: true,
  html_classes: [],
  nav: {
    section: 'Interviewing',
    subsection: 'Interviewing',
    hideSecondary: true
  },
  layout: prototype.current.layoutPath + 'layout.html',
  primary: {
    col: "full"
  },
  secondary: false
} %}

{% extends page.layout %}

{% block primary %}

<div class="container">

<h1 class="heading-large top15 ">Interviewing</h1>



<div class="grid-row">
  <div class="column-two-thirds">
  <h2 class="heading-small">Fail</h2>
    <p>&nbsp;</p>    

      <form action="conduct-interview-pass" method="post">
       <fieldset> 

        <legend class="visuallyhidden">Validate customer</legend>
          <input type="submit" value="Validate customer" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">

        </fieldset>
      </form>


  </div>
</div>



<!--
        <ol class="list list-number">
          <li>What is your national insurance number?</li>
          <li>What is your date of birth?</li>
          <li>Which account is your benefit paid into?</li>

        </ol>
-->
<!--
<div class="grid-row">
    <div class="column-full case-nav">
    <p>&nbsp;</p>
      
    <form action="book-interview" method="post">
      <fieldset class="">
        <legend class="visuallyhidden">LT54</legend>
        <input type="submit" value="LT54" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </fieldset>
    </form>


    <form action="close" method="post">
      <fieldset class="">
        <legend class="visuallyhidden">MF47</legend>
        <input type="submit" value="MF47" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </fieldset>
    </form>

    <form action="reject" method="post">
      <fieldset class="">
        <legend class="visuallyhidden">Set BF</legend>
        <input type="submit" value="Set BF" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </fieldset>
    </form>


    <form action="reroute" method="post">
      <fieldset class="">
        <legend class="visuallyhidden">Refer to DM</legend>
        <input type="submit" value="Refer to DM" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </fieldset>
    </form>

    </div>
  </div>

-->




{% endblock %}