{% set page = {
  title: '',
  dev: true,
  html_classes: [],
  nav: {
    section: 'Case view',
    subsection: 'Documents'
  },
  layout: prototype.current.layoutPath + 'layout.html',
  primary: {
    col: "full"
  },
  secondary: false
} %}

{% extends page.layout %}

{% block primary %}

<div class="container">

<h1 class="heading-large top15 nobottom">Documents</h1>



<div class="grid-row">

  <div class="column-one-half">
  <h3 class="heading-medium">New documents</h3>
    <p>
      <button id="add-button" class="button button-add-another">Choose files</button> <span class="inline-button-text">Or drag and drop</span>
    </p>

    <div class="dropzone m-b-l">

      <p>Drag and drop files here</p>

    </div>

    <div class="form-group">
          <input type="submit" class="button" value="Upload and continue">
        </div>
    </div>

  <div class="column-one-half">
   
  <h3 class="heading-medium ">Uploaded documents</h3>
   <table class="your-cases">
    
    <tbody>

      <tr>
        <td>Bank statement</td>
        <td><a href="#" title="Remove">Remove</a></td>
        <td class="col-right"><a href="#" title="View">View</a></td>
      </tr>
    
     <tr>
        <td>Claim forms</td>
        <td><a href="#" title="Remove">Remove</a></td>
        <td class="col-right"><a href="#" title="View">View</a></td>
      </tr>

       <tr>
        <td>Letters from pension provider</td>
        <td><a href="#" title="Remove">Remove</a></td>
        <td class="col-right"><a href="#" title="View">View</a></td>
      </tr>
    
    
    
    </tbody>

  </table>

  </div>

</div>

<!--

<div class="grid-row">
  <div class="column-full">


  <div class="form-group">
  <label class="form-label" for="file-input">
    Upload a file
  </label>
  <input type="file" id="file-input">
</div>

  </div>
</div>

-->





{% endblock %}