{% set page = {
  title: '',
  dev: true,
  html_classes: [],
  nav: {
    section: 'Case view',
    subsection: 'Linked cases (1)'
  },
  layout: prototype.current.layoutPath + 'layout.html',
  primary: {
    col: "full"
  },
  secondary: false
} %}

{% extends page.layout %}

{% block primary %}

<div class="container">




<div class="grid-row">
  <div class="column-two-thirds">

<h1 class="heading-large top15">Linked cases</h1>
   <table class="your-cases">
  <thead>
    <tr>

      <th scope="col">Case No</th>
      <th scope="col" >Last name</th>
      <th scope="col" >First name</th>
      <th scope="col">Offence type</th>
      <th scope="col">Closed</th>
    </tr>
  </thead>
  <tbody>

  <tr>
      <td><a href="case-view" title="View case">122560023</a></td>
      <td>Dusttrap</td>
      <td>Nuno</td>
      <td>Living together</td>
      <td>12 Sep 2016</td>
    </tr>
  
  
  </tbody>
</table>
  </div>






    <div class="column-one-third headtab">
    <span class="bold-title">
    Case number
    </span>
    3687111
    <span class="bold-title">
    Case owner
    </span>
    <a href="owner-detail">Darren Silcox</a>
    <span class="bold-title">
    Case stage
    </span>
      Information gathering
    <span class="bold-title">
    Activity
    </span>
      Book appoinment
    <span class="bold-title">
    Due date
    </span>
      17 Nov 2016
      <p>&nbsp;</p>
 
      <div class="form-group">
        <form action="book-interview" method="post">
        <fieldset class="">
          <legend class="visuallyhidden">Book appointment</legend>
          <input type="submit" value="Book appointment" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        </fieldset>
      </form>
      </div>

      <div class="form-group">
      <a href="reject" class="side-menu-link" title="Reject">Reject case</a>
      <a href="reroute" class="side-menu-link"  title="Re-route">Re-route case</a>
      <a href="close" class="side-menu-link"  title="Re-route">Close case</a>
      </div>

      
      
</div>







{% endblock %}