{% set page = {
  title: '',
  dev: true,
  html_classes: [],
  nav: {
    section: 'Book appointment',
    subsection: 'Book interview'
  },
  layout: prototype.current.layoutPath + 'layout.html',
  primary: {
    col: "full"
  },
  secondary: false
} %}

{% extends page.layout %}

{% block primary %}

<div class="container">

<h1 class="heading-large top15">Book telephone interview</h1>

<form action="" method="post">

<div class="grid-row">

  <div class="column-two-thirds">
    
      <div class="form-group">
        <label class="form-label" for="select-box">Date</label>
        <select class="form-control" id="select-box">
          <option>Tuesday 1 November 2016</option>
          <option>Wednesday 2 November 2016</option>
          <option>Thursday 3 November 2016</option>
          <option>Friday 4 November 2016</option>
          <option>Saturday 5 November 2016</option>

          <option>Monday 6 November 2016</option>
          <option>Tuesday 7 November 2016</option>
        </select>
      </div>
      
  </div>

    <div class="column-one-third"></div>

</div>



<div class="grid-row">

  <div class="column-one-third">
        <div class="form-group">
          <label class="form-label" for="select-box">Start time</label>
          <select class="form-control" id="select-box">
            <option>8:00am</option>
            <option>8:30am</option>
            <option>9:00am</option>
            <option>9:30am</option>
            <option>10:00am</option>
            <option>10:30am</option>
            <option>11:00am</option>
            <option>11:30am</option>
            <option>12:00am</option>
            <option>12:30pm</option>
            <option>1:00pm</option>
            <option>1:30pm</option>
            <option>2:00pm</option>
            <option>2:30pm</option>
            <option>3:00pm</option>
            <option>3:30pm</option>
            <option>4:00pm</option>
            <option>4:30pm</option>
            <option>5:00pm</option>
            <option>5:30pm</option>
            <option>6:00pm</option>
            <option>6:30pm</option>
            <option>7:00pm</option>
            <option>7:30pm</option>
          </select>
        </div>
  </div>

    <div class="column-one-third">
        <div class="form-group">
          <label class="form-label" for="select-box">End time</label>
          <select class="form-control" id="select-box">
            <option>8:00am</option>
            <option>8:30am</option>
            <option>9:00am</option>
            <option>9:30am</option>
            <option>10:00am</option>
            <option>10:30am</option>
            <option>11:00am</option>
            <option>11:30am</option>
            <option>12:00am</option>
            <option>12:30pm</option>
            <option>1:00pm</option>
            <option>1:30pm</option>
            <option>2:00pm</option>
            <option>2:30pm</option>
            <option>3:00pm</option>
            <option>3:30pm</option>
            <option>4:00pm</option>
            <option>4:30pm</option>
            <option>5:00pm</option>
            <option>5:30pm</option>
            <option>6:00pm</option>
            <option>6:30pm</option>
            <option>7:00pm</option>
            <option>7:30pm</option>
          </select>
        </div>
  </div>
  <div class="column-one-third"></div>

</div>

<div class="grid-row">

  <div class="column-full">
    <fieldset class="primary-nav form-group">
      <legend class="visuallyhidden">Book telephone interview</legend>
      <input type="submit" value="Book interview" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    </fieldset>
  </div>

</div>












<div class="grid-row">

  <div class="column-full">
    <h1 class="heading-large">Your appoinments</h1>
  </div>
</div>

<div class="grid-row">
  <div class="column-full diary">

      <!-- //// Diary Nav ///// -->
      <div class="cal-nav">
        <ul>
          <li>
            <span class="prev"><a href="" title="Next week"><span class="back">&#9664;</span> Previous week</a></span>
          </li>
          <li>
            <span class="date">31 October - 6 November</span>
          </li>
          <li>
            <span class="next"><a href="" title="Next week">Next week <span class="forward">&#9654;</span></a></span>
          </li>
        </ul>
      </div>

      <!-- ///// Monday ///// -->
      <div class="cal-container">
        <ul class="border-fix">
        <li class="dayrow"><span class="day">Mon 31/9</span></li>

        <li>
          <span class="time">8:00 - 9:00</span>
          <span class="odd">
                
          </span>
        </li>

        <li>
          <span class="time">9:00 - 10:00</span>
          <span class="even">
               
          </span> 
        </li>

        <li>
          <span class="time">10:00 - 11:00</span>
          <span class="odd"></span>
        </li>

        <li>
          <span class="time">11:00 - 12:00</span>
          <span class="even">
                
          </span> 
        </li>

        <li>
          <span class="time">12:00 - 1:00</span>
          <span class="odd">
               
          </span> 
        </li>

        <li>
          <span class="time">1:00 - 2:00</span>
          <span></span>
        </li>

        <li>
          <span class="time">2:00 - 3:00</span>
          <span class="odd"></span>
        </li>

        <li>
          <span class="time">3:00 - 4:00</span>
          <span></span>
        </li>

        <li>
          <span class="time">4:00 - 5:00</span>
           
        </li>
        <li>  
          <span class="time">5:00 - 6:00</span>
          <span></span>
        </li>

        </div>




      <!-- ///// Tuesday ///// -->
      <div class="cal-container">
        <ul>
        <li class="dayrow"><span class="day">Tue 1/10</span></li>
        <li>
          <span class="even">
            
          </span>
        </li>
        <li>
          <span class="odd">
                
          </span> 
        </li>
        <li>
          <span class="even">
           
          </span>
        </li>
        <li>
          <span class="odd">
            
        </li>
        <li>
          <span class="even">
            
           
          </span>
        </li>
        <li>
          <span class="odd"></span>
        </li>
        <li>
          <span class="even"></span>
        </li>
        <li>
          <span class="odd">
            <span class="interview">
                  3:00 - 3:30 Phone<br>

                </span>
                <span class="interview">
                  4:00 - 4:30 Phone<br>

                </span>
          </span>
        </li>
        <li>
          <span class="even"></span>
        </li>
        <li>
          <span class="odd"></span>
        </li>
      </div>

      <!-- ///// Wednesday ///// -->
      <div class="cal-container">
        <ul>
        <li class="dayrow"><span class="day">Wed 2/10</span></li>
        <li>
          <span class="odd"></span>
        </li>
        <li>
          <span class="even">
           
          </span>
        </li>
        <li>
          <span class="odd">
           
          </span>
        </li>
        <li>
          <span class="even">
            <span class="face">
                  11:00 - 12:00 In person<br>
             
                </span>
          </span>
        </li>
        <li>
          <span class="odd">
            <span class="blank"></span>
                <span class="interview">
                  12:30 - 1:00 Phone<br>

                </span>

          </span>
        </li>
        <li>
          <span class="even"></span>
        </li>
        <li>
          <span class="odd"></span>
        </li>
        <li>
          <span class="even"></span>
        </li>
        <li>
          <span class="odd">
             <span class="interview">
                  4:00 - 4:30 Phone<br>
                </span>
                <span class="interview">
                  4:30 - 5:00 Phone<br>

                </span>
          </span>
        </li>
        <li>
          <span class="even"></span>
        </li>
      </div>

      <!-- ///// Thursday ///// -->
      <div class="cal-container">
        <ul>
        <li class="dayrow"><span class="day">Thu 3/10</span></li>
        <li>
          <span class="even">
            
             <span class="blank">

                </span>
                <span class="interview">
                  8:30 - 9:00 Phone<br>

                </span>
          </span>
        </li>
        <li>
          <span class="odd">
            
          </span>
        </li>
        <li>
          <span class="even">
            
            <span class="interview">
                10:00 - 10:30 Phone<br>

              </span>
          </span>
        </li>
        <li>
          <span class="odd">
            <span class="face">
                  11:00 - 12:00 In person<br>

                </span>

          </span>
        </li>
        <li>
          <span class="even">
            <span class="blank"></span>
                <span class="interview">
                  12:30 - 1:00 Phone<br>

                </span>
          </span>
        </li>
        <li>
          <span class="odd"></span>
        </li>
        <li>
          <span class="even">
                <span class="blank"></span>
                        <span class="face">
                  2:30 - 3:30 In person<br>
                </span>
          </span>
        </li>
        <li>
          <span class="odd"></span>
        </li>
        <li>
          <span class="even">
            
             <span class="interview">
                  4:00 - 4:30 Phone<br>

                </span>
                <span class="interview">
                  4:30 - 5:00 Phone<br>
           
                </span>
          </span>
        </li>
        <li>
          <span class="odd"></span>
        </li>
      </div>

      <!-- ///// Friday ///// -->
      <div class="cal-container">
        <ul>
        <li class="dayrow"><span class="day">Fri 4/10</span></li>
        <li>
          <span class="odd">
            
              <span class="interview">
                  8:00 - 8:30 Phone<br>
         
                </span>
                <span class="interview">
                  8:30 - 9:00 Phone<br>
   
                </span>
          </span>
        </li>
        <li>
          <span class="even">
            
          </span>
        </li>
        <li>
          <span class="odd">
           
          </span>
        </li>
        <li>
          <span class="even">
            <span class="face">
                  11:00 - 12:00 In person<br>

                </span>
          </span>
        </li>
        <li>
          <span class="odd">
            <span class="blank"></span>
                <span class="interview">
                  12:30 - 1:00 Phone<br>
      
                </span>

          </span>
        </li>
        <li>
          <span class="even"></span>
        </li>
        <li>
          <span class="odd"></span>
        </li>
        <li>
          <span class="even"></span>
        </li>
        <li>
          <span class="odd">
             <span class="interview">
                  4:00 - 4:30 Phone<br>

                </span>
                <span class="interview">
                  4:30 - 5:00 Phone<br>

                </span>
          </span>
        </li>
        <li>
          <span class="even"></span>
        </li>
      </div>

      <!-- ///// Saturday ///// -->
      <div class="cal-container">
        <ul>
        <li class="dayrow"><span class="day">Sat 5/10</span></li>
          <li>
          <span class="even"></span>
        </li>
        <li>
          <span class="odd"></span>
        </li>
        <li>
          <span class="even"></span>
        </li>
        <li>
          <span class="odd"></span>
        </li>
        <li>
          <span class="even"></span>
        </li>
        <li>
          <span class="odd"></span>
        </li>
        <li>
          <span class="even"></span>
        </li>
        <li>
          <span class="odd"></span>
        </li>
        <li>
          <span class="even"></span>
        </li>
        <li>
          <span class="odd"></span>
        </li>
      </div>




  </div>
</div>


</form>

 



{% endblock %}