{% set page = {
  title: 'Cases and appointments',
  dev: true,
  html_classes: [],
  nav: {
    section: 'Cases and appointments',
    subsection: 'Incoming',
    hidePrimary: true
  },
  layout: prototype.current.layoutPath + 'layout.html',
  primary: {
    col: "full"
  },
  secondary: false
} %}

{% extends page.layout %}

{% block primary %}


  <h1 class="heading-large top15 nobottom">Your incoming cases</h1>
  <p>Select a case to work on</p>


<table class="your-cases">
  <thead>
    <tr>
      <th scope="col">Key date</th>
      <th scope="col">Name</th>
      <th scope="col" >Number</th>
      <th scope="col">Type</th>
      <th scope="col">Status</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>1 October 2016</td>
      <td>Darren Silcox</td>
      <td>3687955</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">Open case</a></td>
    </tr>
    <tr class="odd">
      <td>1 October 2016</td>
      <td>Carmine Browne</td>
      <td>3687958</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">Open case</a></td>
    </tr>
        <tr>
      <td>1 October 2016</td>
      <td>Norman Eggleston</td>
      <td>3688211</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">Open case</a></td>
    </tr>
        <tr class="odd">
      <td>2 October 2016</td>
      <td>Tomi Hochmuth</td>
      <td>3687633</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">Open case</a></td>
    </tr>
        <tr>
      <td>2 October 2016</td>
      <td>Donita Carnegie</td>
      <td>3687888</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">Open case</a></td>
    </tr>
        <tr class="odd">
      <td>3 October 2016</td>
      <td>Margorie Griffieth</td>
      <td>3687299</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">Open case</a></td>
    </tr>
        <tr>
      <td>5 October 2016</td>
      <td>Ivonne Fells</td>
      <td>3687988</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">Open case</a></td>
    </tr>
        <tr class="odd">
      <td>5 October 2016</td>
      <td>Margaretta Breiner</td>
      <td>3688000</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">Open case</a></td>
    </tr>
        <tr>
      <td>5 October 2016</td>
      <td>Spencer Leeder</td>
      <td>3687910</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">Open case</a></td>
    </tr>
        <tr class="odd">
      <td>6 October 2016</td>
      <td>Misti Number</td>
      <td>3687999</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">Open case</a></td>
    </tr>
        <tr>
      <td>6 October 2016</td>
      <td>Shanda Heft</td>
      <td>3687111</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">Open case</a></td>
    </tr>
<!--
  <tr>
      <td>1 October 2016</td>
      <td>Darren Silcox</td>
      <td>3687955</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
    <tr class="odd">
      <td>1 October 2016</td>
      <td>Carmine Browne</td>
      <td>3687958</td>
      <td>Capital</td>
      <td>Letter 3</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
        <tr>
      <td>1 October 2016</td>
      <td>Norman Eggleston</td>
      <td>3688211</td>
      <td>Capital</td>
      <td>Phone</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
        <tr class="odd">
      <td>2 October 2016</td>
      <td>Tomi Hochmuth</td>
      <td>3687633</td>
      <td>Capital</td>
      <td>Suspended</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
        <tr>
      <td>2 October 2016</td>
      <td>Donita Carnegie</td>
      <td>3687888</td>
      <td>Capital</td>
      <td>Interview</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
        <tr class="odd">
      <td>3 October 2016</td>
      <td>Margorie Griffieth</td>
      <td>3687299</td>
      <td>Capital</td>
      <td>Letter 1</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
        <tr>
      <td>5 October 2016</td>
      <td>Ivonne Fells</td>
      <td>3687988</td>
      <td>Capital</td>
      <td>Decision received</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
        <tr class="odd">
      <td>5 October 2016</td>
      <td>Margaretta Breiner</td>
      <td>3688000</td>
      <td>Capital</td>
      <td>Awaiting info 1</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
        <tr>
      <td>5 October 2016</td>
      <td>Spencer Leeder</td>
      <td>3687910</td>
      <td>Capital</td>
      <td>Decision required</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
        <tr class="odd">
      <td>6 October 2016</td>
      <td>Misti Number</td>
      <td>3687999</td>
      <td>Capital</td>
      <td>Letter 2</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
        <tr>
      <td>6 October 2016</td>
      <td>Shanda Heft</td>
      <td>3687111</td>
      <td>Capital</td>
      <td>Closed</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>-->
  </tbody>
</table>


{% endblock %}