{% set page = {
  title: '',
  dev: true,
  html_classes: [],
  nav: {
    section: 'Case view',
    subsection: 'Case view'
  },
  layout: prototype.current.layoutPath + 'layout.html',
  primary: {
    col: "full"
  },
  secondary: false
} %}

{% extends page.layout %}

{% block primary %}

<div class="container">

<h1 class="heading-large top15">Information</h1>



<div class="grid-row">
    <div class="column-full">
        <table class="your-cases">
            <thead>
              <tr>
                <th scope="col">Case number</th>
                <th scope="col">Case owner</th>
                <th scope="col">Case stage</th>
              </tr>
            </thead>
            <tr>
              <td>3687111</span></td>
              <td><a href="owner-detail">Darren Silcox</a></td>
              <td><a href="">Decision received</a></td>
            </tr>
          </table>
          <p>&nbsp;</p>
    </div>
</div>





<div class="grid-row">
    <div class="column-full">

        <table class="your-cases">
          

          <thead>
            <tr>
              <th scope="col">Suspect details</th>
              <th scope="col">&nbsp;</th>
              <th scope="col">&nbsp;</th>
            </tr>
          </thead>

          <tbody>
          <tr>
            <td>Title:  <span class="standout">Miss</span> </td>
            <td>First name:  <span class="standout">Elidia</span> </td>
            <td>Last name: <span class="standout">Helsel</span></td>
          </tr>
          <tr>
            <td>Gender: <span class="standout">Female</span></td>
            <td>Date of birth: <span class="standout">25 Mar 1974</span></td>
            <td>N.I. <span class="standout">PG515593</span></td>
          </tr>
          <tr>
            <td>Telephone: <span class="standout"> 07985 999466</span>
            <td>Email: <span class="standout"><a href="eldia.helsel@gmail.com">eldia.helsel@gmail.com</a></span></td>
            <td>PV: <span class="standout">Violent</span></td>
          </tr>
          <tr>
            <td>
            Address: <span class="standout">3 Golf Road, Shelf, Halifax. HX6 2QW
            </span>
            </td>
            <td>Address commenced: <span class="standout">21 Nov 2011</span></td>
            <td>Vulnerable: <span class="standout">Yes</span></td>
          </tr>
          
          </tbody>

          </table>


    </div>
</div>






<!--
  <tr>
    <td>First name:  <span class="standout">Elidia</span> </td>
    <td>Telephone: <span class="standout"> 07985 999466</span></td>
    <td>Case No. <span class="standout">3687111</td>
  </tr>

  <tr>
    <td>Surname: <span class="standout">Helsel</span></td>
    <td>Email: <span class="standout"><a href="eldia.helsel@gmail.com">eldia.helsel@gmail.com</a></span></td>
    <td>N.I. <span class="standout">PG515593</span></td>
  </tr>

  <tr>
    <td>Date of birth: <span class="standout">27 March 1974</span></td>
    <td>
      Address: <span class="standout">27 Great North Road, AMBRISMORE. PA20 9WF</span>
    </td>
    <td>Care note: <span class="standout">vulnerable</span> <a href="">Edit note</a></td>
  </tr>

  xx
-->





  <div class="grid-row">

    <div class="column-full">
      
        <details class="appointee">

          <summary><span class="summary">Appointee details</span></summary>

          <div class="">


                    <table class="your-cases">
                    

                    <tbody>
                    <tr>
                      <td>Title:  <span class="standout">Mr</span> </td>
                      <td>First name:  <span class="standout">Adam</span> </td>
                      <td>Last name: <span class="standout">Mathews</span></td>
                    </tr>
                 
                    <tr>
                      <td>Telephone: <span class="standout"> 07985 999466</span>
                      <td>Email: <span class="standout"><a href="eldia.helsel@gmail.com">eldia.helsel@gmail.com</a></span></td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2">
                      Address: <span class="standout">14 Essex Rd, Little Roundabout, Essex. EX2 2BT
                      </span></td>
                      <td>&nbsp;</td>
                    </tr>
                    
                    </tbody>

                    </table>



          </div>
<!--
              <div class="grid-row">

                    <div class="column-full">
                      
                         <form action="" method="post">
                            <fieldset class="primary-nav form-group">
                              <legend class="visuallyhidden">Form Navigation</legend>
                              <input type="submit" value="Edit appointee" class="button button-grey right" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                            </fieldset>
                          </form>        
                    </div>

              </div>
-->
        </details>

    </div>

  </div>


  <div class="grid-row">

    <div class="column-one-half">
      <h2 class="heading-medium">Allegation</h2>
      <h3 class="heading-small">Working in receipt" (2 weeks or more)</h3>
      <p>
Elidia Helsel is claiming jobseekers allowance and working.
Information states that she works at the Metro Cafe 5 days a week making sandwiches.
      </p>
    </div>
    <div class="column-one-half">
        <h2 class="heading-medium">Benefit award</h2>

           <table class="your-cases">
         
          <thead>
            <tr>
              <th scope="col">Benefit history</th>
            </tr>
          </thead>

          <tbody>
          <tr>
            <td>dfdfgd</td>

          </tr>
           <tr>
            <td>dgadfgagfg</td>
           
          </tr>
          </tbody>

          </table>
    </div>

  </div>



  <div class="grid-row">
    <div class="column-full case-nav">
    <p>&nbsp;</p>
      
    <form action="contact" method="post">
      <fieldset class="">
        <legend class="visuallyhidden">Book an appointment</legend>
        <input type="submit" value="Book an appointment" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </fieldset>
    </form>


    <form action="reject" method="post">
      <fieldset class="">
        <legend class="visuallyhidden">Reject</legend>
        <input type="submit" value="Reject" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </fieldset>
    </form>

    <form action="reroute" method="post">
      <fieldset class="">
        <legend class="visuallyhidden">Re-route</legend>
        <input type="submit" value="Re-route" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </fieldset>
    </form>


    </div>
  </div>







{% endblock %}