{% set page = {
  title: '',
  dev: true,
  html_classes: [],
  nav: {
    section: 'Home',
    subsection: 'Search',
    hidePrimary: true
  },
  layout: prototype.current.layoutPath + 'layout.html',
  primary: {
    col: "full"
  },
  secondary: false
} %}

{% extends page.layout %}

{% block primary %}

<h1 class="heading-large top15">Search</h1>


<div class="grid-row">
  
  <div class="column-two-thirds search">
      <label class="form-label" for="search">
      To find the case you’re looking for, you can search by either:<br> date, name, NI, type, status or case.
      </label>
      <input class="form-control searchbox" id="search"  type="text">
      <fieldset class="primary-nav form-group">
        <legend class="visuallyhidden">Form Navigation</legend>
        <input type="submit" value="Search" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </fieldset>
  </div>

</div>


{% endblock %}