{% set page = {
  title: 'Case Results',
  nav: {
    section: 'Cases',
    subsection: 'Current',
    hidePrimary: true,
    hideSecondary: true
  },
  layout: prototype.current.layoutPath + 'layout.html',
  primary: {
    col: "full"
  },
  secondary: false
} %}

{% extends page.layout %}
 
{% block primary %}


  




<p>Select a case to view</p>
<p>Alternatively you can view <a href="your-cases" title="Go to your cases">your cases</a></p>

<table class="your-cases">
  <thead>
    <tr>
      <th scope="col">Key date</th>
      <th scope="col">Name</th>
      <th scope="col" >Number</th>
      <th scope="col">Type</th>
      <th scope="col">Status</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>

  <tr>
      <td>26 September 2016</td>
      <td>Elidia Helsel</td>
      <td>3687111</td>
      <td>Criminal</td>
      <td>Phone</td>
      <td><a href="" title="View case">View case</a></td>
    </tr>
     <tr>
      <td>26 September 2016</td>
      <td>Hortense Maglione</td>
      <td>3687349</td>
      <td>Criminal</td>
      <td>Phone</td>
      <td><a href="" title="View case">View case</a></td>
    </tr>
      <tr>
      <td>26 September 2016</td>
      <td>Mikaela Hy</td>
      <td>3687212</td>
      <td>Capital</td>
      <td>Phone</td>
       <td><a href="" title="View case">View case</a></td>
    </tr>
    </tr>
      <tr>
      <td>26 September 2016</td>
      <td>Corrie Willert </td>
      <td>3687266</td>
      <td>Complex</td>
      <td>Interview</td>
      <td><a href="" title="View case">View case</a></td>
    </tr>
    </tr>
      <tr>
      <td>27 September 2016</td>
      <td>Samuel Mattern</td>
      <td>3687261</td>
      <td>Capital</td>
      <td>Interview</td>
      <td><a href="" title="View case">View case</a></td>
    </tr>



    </tr>
      <tr>
      <td>27 September 2016</td>
      <td>Rigoberto Breitenstein</td>
      <td>3687266</td>
      <td>Compliance</td>
      <td>Interview</td>
      <td><a href="" title="View case">View case</a></td>
    </tr>
    </tr>
      <tr>
      <td>27 September 2016</td>
      <td>Jennie Tollett</td>
      <td>3687261</td>
      <td>Capital</td>
      <td>Interview</td>
      <td><a href="" title="View case">View case</a></td>
    </tr>
         <tr>
      <td>27 September 2016</td>
      <td>Ona Buttler</td>
      <td>3687349</td>
      <td>Compliance</td>
      <td>Phone</td>
      <td><a href="" title="View case">View case</a></td>
    </tr>
      <tr>
      <td>27 September 2016</td>
      <td>Maire Delorey</td>
      <td>3687212</td>
      <td>Criminal</td>
      <td>Interview</td>
      <td><a href="" title="View case">View case</a></td>
    </tr>


    <tr>
      <td>28 September 2016</td>
      <td>Dong Hertzler</td>
      <td>3687349</td>
      <td>Criminal</td>
      <td>Phone</td>
      <td><a href="" title="View case">View case</a></td>
    </tr>
      <tr>
      <td>28 September 2016</td>
      <td>Mattie Manion</td>
      <td>3687912</td>
      <td>Criminal</td>
      <td>Phone</td>
      <td><a href="" title="View case">View case</a></td>
    </tr>



  <tr>
      <td>30 September 2016</td>
      <td>Tommye Castellano</td>
      <td>3684212</td>
      <td>Capital</td>
      <td>Criminal</td>
      <td><a href="" title="View case">View case</a></td>
    </tr>


  
  </tbody>
</table>


<!--
<h1 class="heading-large top15">Search</h1>


<div class="grid-row">
  
  <div class="column-two-thirds search">
      <label class="form-label" for="search">
      To find the case you’re looking for, you can search by either:<br> date, name, NI, type, status or case.
      </label>
      <input class="form-control searchbox" id="search"  type="text">
      <fieldset class="primary-nav form-group">
        <legend class="visuallyhidden">Form Navigation</legend>
        <input type="submit" value="Search" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </fieldset>
  </div>

</div>





    <h2 class="heading-medium">Your search for “and” returned 155 case results.</h2>





  <div class="pager">
    
    <div class="pager-controls">
      
      <ul class="pager-items">
        <li>1</li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
      </ul>
      
      <a class="pager-next" href="#">Next</a>
      
    </div>
    
    <div class="pager-summary">Showing 1 &ndash; 50 of 146 cases</div>
    
  </div>







<table class="your-cases">
  <thead>
    <tr>
      <th scope="col">Due date</th>
      <th scope="col">Owner</th>
      <th scope="col">Name / N.I.</th>
      <th scope="col">Type</th>
      <th scope="col">Status</th>
      <th scope="col" >Case No.</th>
    </tr>
  </thead>
  <tbody>

  <tr>
      <td>26 September 2016</td>
      <td><a href="owner-detail" title="View Melody Patricks details">Melody Patrick</a></td>
      <td>Elidia Helsel<br>BZ951726D</td>
      
      <td>Criminal</td>
      <td>Phone</td>
      <td><a href="case-view" title="Open case">3687111</a></td>
    </tr>
     <tr>
      <td>26 September 2016</td>
      <td><a href="owner-detail" title="View David Thompsons details">David Thompson</a></td>
      <td>Hortense Maglione<br>NM120086A</td>
      
      <td>Criminal</td>
      <td>Phone</td>
      <td><a href="case-view" title="Open case">3687349</a></td>
    </tr>
      <tr>
      <td>26 September 2016</td>
      <td><a href="owner-detail" title="View Gilbert Howards details">Gilbert Howard</a></td>
      <td>Mikaela Hy<br>NM120086A</td>
      
      <td>Capital</td>
      <td>Phone</td>
      <td><a href="case-view" title="Open case">3687212</a></td>
    </tr>
    </tr>
      <tr>
      <td>26 September 2016</td>
      <td><a href="owner-detail" title="View Riley Rush's details">Riley Rush</a></td>
      <td>Corrie Willert <br>KC297869D</td>
      
      <td>Complex</td>
      <td>Interview</td>
      <td><a href="case-view" title="Open case">3687266<a href="View case"></td>
    </tr>
    </tr>
      <tr>
      <td>27 September 2016</td>
      <td><a href="owner-detail" title="View Daniel Fultons details">Daniel Fulton</a></td>
      <td>Samuel Mattern<br>TP653438D</td>
      
      <td>Capital</td>
      <td>Interview</td>
      <td><a href="case-view" title="Open case">3687261</a></td>
    </tr>



    </tr>
      <tr>
      <td>27 September 2016</td>
      <td><a href="owner-detail" title="View Graeme Barkers details">Graeme Barker</a></td>
      <td>Rigoberto Breitenstein<br>MP552026C</td>
      
      <td>Compliance</td>
      <td>Interview</td>
      <td><a href="case-view" title="Open case">3687266</a></td>
    </tr>
    </tr>
      <tr>
      <td>27 September 2016</td>
      <td><a href="owner-detail" title="View Adonis Davidsons details">Adonis Davidson</a></td>
      <td>Jennie Tollett<br>EL557399A</td>
      
      <td>Capital</td>
      <td>Interview</td>
      <td><a href="case-view" title="Open case">3687261</a></td>
    </tr>
         <tr>
      <td>27 September 2016</td>
      <td><a href="owner-detail" title="View Tyler Suttons details">Tyler Sutton</a></td>
      <td>Ona Buttler<br>BW328658D</td>
      
      <td>Compliance</td>
      <td>Phone</td>
      <td><a href="case-view" title="Open case">3687349</a></td>
    </tr>
      <tr>
      <td>27 September 2016</td>
      <td><a href="owner-detail" title="View Riley Kings details">Riley King</a></td>
      <td>Maire Delorey <br>TW831313</td>
      
      <td>Criminal</td>
      <td>Interview</td>
      <td><a href="case-view" title="Open case">3687212</a></td>
    </tr>


    <tr>
      <td>28 September 2016</td>
      <td><a href="owner-detail" title="View Daniel Coxs details">Daniel Cox</a></td>
      <td>Dong Hertzler<br>BH265543A</td>
      <td>Criminal</td>
      <td>Phone</td>
      <td><a href="case-view" title="Open case">3687349</a></td>
    </tr>
      <tr>
      <td>28 September 2016</td>
      <td><a href="owner-detail" title="View Charlie Matthews details">Charlie Matthews</a></td>
      <td>Mattie Manion<br>XY255245D</td>
      
      <td>Criminal</td>
      <td>Phone</td>
      <td><a href="case-view" title="Open case">3687912</a></td>
    </tr>



  <tr>
      <td>30 September 2016</td>
      <td><a href="owner-detail" title="View Louie Bradley">Louie Bradley</a></td>
      <td>Tommye Castellano<br>HK999010C</td>
      
      <td>Capital</td>
      <td>Criminal</td>
      <td><a href="case-view" title="Open case">3684212</a></td>
    </tr>


  
  </tbody>
</table>
-->

{% endblock %}