{% extends "layouts/version_index.html" %}

{% block version_details %}
  <p>Details of changes and things being tested in this iteration/version of the prototype</p>



      <p>This version comprises the following Trello Cards from the <a href="https://trello.com/b/Ho4acWpC/feswm">FES Hypothesis Board</a></p>

      <ul>

      <li>User needs to easily access the system</li>
      <li>User needs to easily access any case </li>

      <li>User needs to see their activities</li>
      <li>User needs to see their appointment</li>
      <li>User needs to see their day in detail</li>
      <li></li>


      <li><a href="">Example1</a></li>

      <li><a href="">Example1</a></li>

      <li><a href="">Example1</a></li>

      <li><a href="">Example1</a></li>

      <li><a href="">Example1</a></li>

      <li><a href="">Example1</a></li>
<p>&nbsp;</p>
</ul>
       



{% endblock %}
