{% set page = {
  title: '',
  dev: true,
  html_classes: [],
  nav: {
    section: 'Home',
    subsection: 'Incoming activities',
    hidePrimary: true
  },
  layout: prototype.current.layoutPath + 'layout.html',
  primary: {
    col: "full"
  },
  secondary: false
} %}

{% extends page.layout %}

{% block primary %}


  <h1 class="heading-large top15 nobottom">Your incoming activities</h1>
  <p>Select a case to work on</p>

<table class="your-cases">
  <thead>
    <tr>
      <th scope="col">Due date</th>
      <th scope="col">Name</th>
      <th scope="col" >N.I.</th>
      <th scope="col">Type</th>
      <th scope="col">Status</th>
      <th scope="col">Case No.</th>
    </tr>
  </thead>
  <tbody>

  <tr>
      <td>26 September 2016</td>
      <td>Elidia Helsel</td>
      <td>PG515593</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">3687111</a></td>
    </tr>
     <tr>
      <td>26 September 2016</td>
      <td>Hortense Maglione</td>
      <td>NA487971B</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">3687349</a></td>
    </tr>
      <tr>
      <td>26 September 2016</td>
      <td>Mikaela Hy</td>
      <td>AE630559D</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">3687212</a></td>
    </tr>
    </tr>
      <tr>
      <td>26 September 2016</td>
      <td>Corrie Willert </td>
      <td>AX486425A</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">3687266</a></td>
    </tr>
    </tr>
      <tr>
      <td>27 September 2016</td>
      <td>Samuel Mattern</td>
      <td>EZ084651A</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">3687261</a></td>
    </tr>



    </tr>
      <tr>
      <td>27 September 2016</td>
      <td>Rigoberto Breitenstein</td>
      <td>XJ501194B</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">3687266</a></td>
    </tr>
    </tr>
      <tr>
      <td>27 September 2016</td>
      <td>Jennie Tollett</td>
      <td>GS009437A</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">3687261</a></td>
    </tr>
         <tr>
      <td>27 September 2016</td>
      <td>Ona Buttler</td>
      <td>WC886912B</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">3687349</a></td>
    </tr>
      <tr>
      <td>27 September 2016</td>
      <td>Maire Delorey</td>
      <td>MZ604408B</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">3687212</a></td>
    </tr>


    <tr>
      <td>28 September 2016</td>
      <td>Dong Hertzler</td>
      <td>ET098102C</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">3687349</a></td>
    </tr>
      <tr>
      <td>28 September 2016</td>
      <td>Mattie Manion</td>
      <td>KS153679C</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">3687912</a></td>
    </tr>



  <tr>
      <td>30 September 2016</td>
      <td>Tommye Castellano</td>
      <td>CS199751D</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="case-view" title="Open case">3684212</a></td>
    </tr>


  
  </tbody>
</table>
<!--
  <tr>
      <td>1 October 2016</td>
      <td>Darren Silcox</td>
      <td>3687955</td>
      <td>Capital</td>
      <td>New case</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
    <tr class="odd">
      <td>1 October 2016</td>
      <td>Carmine Browne</td>
      <td>3687958</td>
      <td>Capital</td>
      <td>Letter 3</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
        <tr>
      <td>1 October 2016</td>
      <td>Norman Eggleston</td>
      <td>3688211</td>
      <td>Capital</td>
      <td>Phone</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
        <tr class="odd">
      <td>2 October 2016</td>
      <td>Tomi Hochmuth</td>
      <td>3687633</td>
      <td>Capital</td>
      <td>Suspended</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
        <tr>
      <td>2 October 2016</td>
      <td>Donita Carnegie</td>
      <td>3687888</td>
      <td>Capital</td>
      <td>Interview</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
        <tr class="odd">
      <td>3 October 2016</td>
      <td>Margorie Griffieth</td>
      <td>3687299</td>
      <td>Capital</td>
      <td>Letter 1</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
        <tr>
      <td>5 October 2016</td>
      <td>Ivonne Fells</td>
      <td>3687988</td>
      <td>Capital</td>
      <td>Decision received</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
        <tr class="odd">
      <td>5 October 2016</td>
      <td>Margaretta Breiner</td>
      <td>3688000</td>
      <td>Capital</td>
      <td>Awaiting info 1</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
        <tr>
      <td>5 October 2016</td>
      <td>Spencer Leeder</td>
      <td>3687910</td>
      <td>Capital</td>
      <td>Decision required</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
        <tr class="odd">
      <td>6 October 2016</td>
      <td>Misti Number</td>
      <td>3687999</td>
      <td>Capital</td>
      <td>Letter 2</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
        <tr>
      <td>6 October 2016</td>
      <td>Shanda Heft</td>
      <td>3687111</td>
      <td>Capital</td>
      <td>Closed</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>-->
  </tbody>
</table>


{% endblock %}