
{% set page = {
  nav: {
    section: 'Change password',
    subsection: 'Current',
    hidePrimary: true
  },
  layout: prototype.current.layoutPath + 'layout.html',
  secondary: false
} %}



{% extends page.layout %}

{% block primary %}

  <h1 class="heading-large">Change your password</h1>
  <p>Your password must have at least 8 characters and contain at least 2 numbers.</p>
  
  <form action="change-password-confirm" method="post">
    
    <div class="form-group">
  	  <label class="form-label" for="password">New password</label>
  	  <input class="form-control" id="password" name="password" type="password" autocomplete="off">
  	</div>
    
  	<div class="form-group">
  	  <label class="form-label" for="password1">Re-type new password</label>
  	  <input class="form-control" id="password1" name="password1" type="password" autocomplete="off">
      <label class="form-checkbox" for="checkbox-telephone-number">
        <input id="showpassword" name="show-password" type="checkbox" value="true">
        Show password
      </label>
  	</div>


    <fieldset class="primary-nav form-group">
      <legend class="visuallyhidden">Form Navigation</legend>
      <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    </fieldset>
  </form>





{% endblock %}
