{% set page = {
  title: 'All case results',
  nav: {
    section: 'Cases',
    subsection: 'Current',
    hidePrimary: true,
    hideSecondary: true
  },
  layout: prototype.current.layoutPath + 'layout.html',
  primary: {
    col: "full"
  },
  secondary: false
} %}

{% extends page.layout %}
 
{% block primary %}


<a href="javascript:history.back()" class="link-back">Back</a>

  


<p>Select a case to view or go to <a href="your-cases" title="Go to your cases">your activities and appointments</a></p>


<table class="your-cases">
  <thead>
    <tr>
      <th scope="col">Key date</th>
      <th scope="col">Owner</th>
      <th scope="col">Name / NI</th>
      <th scope="col">Type</th>
      <th scope="col">Status</th>
      <th scope="col" >Case</th>
    </tr>
  </thead>
  <tbody>

  <tr>
      <td>26 September 2016</td>
      <td><a href="owner-detail" title="View Melody Patricks details">Melody Patrick</a></td>
      <td>Elidia Helsel<br>BZ951726D</td>
      
      <td>Criminal</td>
      <td>Phone</td>
      <td><a href="" title="View case">3687111</a></td>
    </tr>
     <tr>
      <td>26 September 2016</td>
      <td><a href="owner-detail" title="View David Thompsons details">David Thompson</a></td>
      <td>Hortense Maglione<br>NM120086A</td>
      
      <td>Criminal</td>
      <td>Phone</td>
      <td><a href="" title="View case">3687349</a></td>
    </tr>
      <tr>
      <td>26 September 2016</td>
      <td><a href="owner-detail" title="View Gilbert Howards details">Gilbert Howard</a></td>
      <td>Mikaela Hy<br>NM120086A</td>
      
      <td>Capital</td>
      <td>Phone</td>
      <td><a href="" title="View case">3687212</a></td>
    </tr>
    </tr>
      <tr>
      <td>26 September 2016</td>
      <td><a href="owner-detail" title="View Riley Rush's details">Riley Rush</a></td>
      <td>Corrie Willert <br>KC297869D</td>
      
      <td>Complex</td>
      <td>Interview</td>
      <td><a href="" title="View case">3687266<a href="View case"></td>
    </tr>
    </tr>
      <tr>
      <td>27 September 2016</td>
      <td><a href="owner-detail" title="View Daniel Fultons details">Daniel Fulton</a></td>
      <td>Samuel Mattern<br>TP653438D</td>
      
      <td>Capital</td>
      <td>Interview</td>
      <td><a href="" title="View case">3687261</a></td>
    </tr>



    </tr>
      <tr>
      <td>27 September 2016</td>
      <td><a href="owner-detail" title="View Graeme Barkers details">Graeme Barker</a></td>
      <td>Rigoberto Breitenstein<br>MP552026C</td>
      
      <td>Compliance</td>
      <td>Interview</td>
      <td><a href="" title="View case">3687266</a></td>
    </tr>
    </tr>
      <tr>
      <td>27 September 2016</td>
      <td><a href="owner-detail" title="View Adonis Davidsons details">Adonis Davidson</a></td>
      <td>Jennie Tollett<br>EL557399A</td>
      
      <td>Capital</td>
      <td>Interview</td>
      <td><a href="" title="View case">3687261</a></td>
    </tr>
         <tr>
      <td>27 September 2016</td>
      <td><a href="owner-detail" title="View Tyler Suttons details">Tyler Sutton</a></td>
      <td>Ona Buttler<br>BW328658D</td>
      
      <td>Compliance</td>
      <td>Phone</td>
      <td><a href="" title="View case">3687349</a></td>
    </tr>
      <tr>
      <td>27 September 2016</td>
      <td><a href="owner-detail" title="View Riley Kings details">Riley King</a></td>
      <td>Maire Delorey <br>TW831313</td>
      
      <td>Criminal</td>
      <td>Interview</td>
      <td><a href="" title="View case">3687212</a></td>
    </tr>


    <tr>
      <td>28 September 2016</td>
      <td><a href="owner-detail" title="View Daniel Coxs details">Daniel Cox</a></td>
      <td>Dong Hertzler<br>BH265543A</td>
      <td>Criminal</td>
      <td>Phone</td>
      <td><a href="" title="View case">3687349</a></td>
    </tr>
      <tr>
      <td>28 September 2016</td>
      <td><a href="owner-detail" title="View Charlie Matthews details">Charlie Matthews</a></td>
      <td>Mattie Manion<br>XY255245D</td>
      
      <td>Criminal</td>
      <td>Phone</td>
      <td><a href="" title="View case">3687912</a></td>
    </tr>



  <tr>
      <td>30 September 2016</td>
      <td><a href="owner-detail" title="View Louie Bradley">Louie Bradley</a></td>
      <td>Tommye Castellano<br>HK999010C</td>
      
      <td>Capital</td>
      <td>Criminal</td>
      <td><a href="" title="View case">3684212</a></td>
    </tr>


  
  </tbody>
</table>


{% endblock %}