{% set page = {
  title: '',
  nav: {
    section: 'Activities and appointments',
    subsection: 'Current activities',
    hidePrimary: true
  },
  layout: prototype.current.layoutPath + 'layout.html',
  primary: {
    col: "full"
  },
  secondary: false
} %}

{% extends page.layout %}
 
{% block primary %}









  <h1 class="heading-large top15 nobottom">Your current activities</h1>
  <p>Select a case to work on</p>

<table class="your-cases">
  <thead>
    <tr>
      <th scope="col">Key date</th>
      <th scope="col">Name</th>
      <th scope="col" >N.I.</th>
      <th scope="col">Type</th>
      <th scope="col">Status</th>
      <th scope="col">Case</th>
    </tr>
  </thead>
  <tbody>

  <tr>
      <td>26 September 2016</td>
      <td>Elidia Helsel</td>
      <td>PG515593</td>
      <td>Capital</td>
      <td>Phone</td>
      <td><a href="" title="Open case">3687111</a></td>
    </tr>
     <tr>
      <td>26 September 2016</td>
      <td>Hortense Maglione</td>
      <td>NA487971B</td>
      <td>Capital</td>
      <td>Phone</td>
      <td><a href="" title="Open case">3687349</a></td>
    </tr>
      <tr>
      <td>26 September 2016</td>
      <td>Mikaela Hy</td>
      <td>AE630559D</td>
      <td>Capital</td>
      <td>Phone</td>
      <td><a href="" title="Open case">3687212</a></td>
    </tr>
    </tr>
      <tr>
      <td>26 September 2016</td>
      <td>Corrie Willert </td>
      <td>AX486425A</td>
      <td>Capital</td>
      <td>Interview</td>
      <td><a href="" title="Open case">3687266</a></td>
    </tr>
    </tr>
      <tr>
      <td>27 September 2016</td>
      <td>Samuel Mattern</td>
      <td>EZ084651A</td>
      <td>Capital</td>
      <td>Interview</td>
      <td><a href="" title="Open case">3687261</a></td>
    </tr>



    </tr>
      <tr>
      <td>27 September 2016</td>
      <td>Rigoberto Breitenstein</td>
      <td>XJ501194B</td>
      <td>Capital</td>
      <td>Interview</td>
      <td><a href="" title="Open case">3687266</a></td>
    </tr>
    </tr>
      <tr>
      <td>27 September 2016</td>
      <td>Jennie Tollett</td>
      <td>GS009437A</td>
      <td>Capital</td>
      <td>Interview</td>
      <td><a href="" title="Open case">3687261</a></td>
    </tr>
         <tr>
      <td>27 September 2016</td>
      <td>Ona Buttler</td>
      <td>WC886912B</td>
      <td>Capital</td>
      <td>Phone</td>
      <td><a href="" title="Open case">3687349</a></td>
    </tr>
      <tr>
      <td>27 September 2016</td>
      <td>Maire Delorey</td>
      <td>MZ604408B</td>
      <td>Capital</td>
      <td>Interview</td>
      <td><a href="" title="Open case">3687212</a></td>
    </tr>


    <tr>
      <td>28 September 2016</td>
      <td>Dong Hertzler</td>
      <td>ET098102C</td>
      <td>Capital</td>
      <td>Phone</td>
      <td><a href="" title="Open case">3687349</a></td>
    </tr>
      <tr>
      <td>28 September 2016</td>
      <td>Mattie Manion</td>
      <td>KS153679C</td>
      <td>Capital</td>
      <td>Phone</td>
      <td><a href="" title="Open case">3687912</a></td>
    </tr>



  <tr>
      <td>30 September 2016</td>
      <td>Tommye Castellano</td>
      <td>CS199751D</td>
      <td>Capital</td>
      <td>Phone</td>
      <td><a href="" title="Open case">3684212</a></td>
    </tr>


  
  </tbody>
</table>


{% endblock %}