{% set page = {
  title: 'Cases & Appointments',
  nav: {
    section: 'Cases & Appointments',
    subsection: 'Current',
    hidePrimary: true
  },
  layout: prototype.current.layoutPath + 'layout.html',
  primary: {
    col: "full"
  },
  secondary: false
} %}

{% extends page.layout %}
 
{% block primary %}









  <h1 class="heading-large top15 nobottom">Your current cases</h1>
  <p>Select a case to work on</p>

<table class="your-cases">
  <thead>
    <tr>
      <th scope="col">Key date</th>
      <th scope="col">Name</th>
      <th scope="col" >Number</th>
      <th scope="col">Type</th>
      <th scope="col">Status</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>

  <tr>
      <td>26 September 2016</td>
      <td>Elidia Helsel</td>
      <td>3687111</td>
      <td>Capital</td>
      <td>Phone</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
     <tr>
      <td>26 September 2016</td>
      <td>Hortense Maglione</td>
      <td>3687349</td>
      <td>Capital</td>
      <td>Phone</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
      <tr>
      <td>26 September 2016</td>
      <td>Mikaela Hy</td>
      <td>3687212</td>
      <td>Capital</td>
      <td>Phone</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
    </tr>
      <tr>
      <td>26 September 2016</td>
      <td>Corrie Willert </td>
      <td>3687266</td>
      <td>Capital</td>
      <td>Interview</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
    </tr>
      <tr>
      <td>27 September 2016</td>
      <td>Samuel Mattern</td>
      <td>3687261</td>
      <td>Capital</td>
      <td>Interview</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>



    </tr>
      <tr>
      <td>27 September 2016</td>
      <td>Rigoberto Breitenstein</td>
      <td>3687266</td>
      <td>Capital</td>
      <td>Interview</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
    </tr>
      <tr>
      <td>27 September 2016</td>
      <td>Jennie Tollett</td>
      <td>3687261</td>
      <td>Capital</td>
      <td>Interview</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
         <tr>
      <td>27 September 2016</td>
      <td>Ona Buttler</td>
      <td>3687349</td>
      <td>Capital</td>
      <td>Phone</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
      <tr>
      <td>27 September 2016</td>
      <td>Maire Delorey</td>
      <td>3687212</td>
      <td>Capital</td>
      <td>Interview</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>


    <tr>
      <td>28 September 2016</td>
      <td>Dong Hertzler</td>
      <td>3687349</td>
      <td>Capital</td>
      <td>Phone</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>
      <tr>
      <td>28 September 2016</td>
      <td>Mattie Manion</td>
      <td>3687912</td>
      <td>Capital</td>
      <td>Phone</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>



  <tr>
      <td>30 September 2016</td>
      <td>Tommye Castellano</td>
      <td>3684212</td>
      <td>Capital</td>
      <td>Phone</td>
      <td><a href="" title="Open case">Open case</a></td>
    </tr>


  
  </tbody>
</table>


{% endblock %}