{% set page = {
  title: '',
  dev: true,
  html_classes: [],
  nav: {
    section: 'Case view',
    subsection: 'Case history'
  },
  layout: prototype.current.layoutPath + 'layout.html',
  primary: {
    col: "full"
  },
  secondary: false
} %}

{% extends page.layout %}

{% block primary %}

<div class="container">

<h1 class="heading-large top15">Case history</h1>



<div class="grid-row">
  <div class="column-full">
      <table class="your-cases">
          <thead>
            <tr>
              <th scope="col">Recent actions</th>
               <th scope="col">Relevant dates</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td>Referred to DM: </td>
              <td>1 November 2016</td>
            </tr>
            <tr>
              <td>BF until: </td>
              <td>28 October 2016</td>
            </tr>
            <tr>
              <td>Telephone appointment completed: </td>
              <td>15 October 2016</td>
            </tr>
            <tr>
              <td>Telephone appointment letter issued: </td>
              <td>10 October 2016</td>
            </tr>
            <tr>
              <td>Telephone appointment booking completed: </td>
              <td>2 October 2016</td>
            </tr>




        </tbody>
      </table>
  </div>
</div>







{% endblock %}