{% set page = {
  title: '',
  dev: true,
  html_classes: [],
  nav: {
    section: 'Close',
    subsection: 'Close case'
  },
  layout: prototype.current.layoutPath + 'layout.html',
  primary: {
    col: "full"
  },
  secondary: false
} %}

{% extends page.layout %}

{% block primary %}

<div class="container">

<h1 class="heading-large top15">Close</h1>


<div class="grid-row">
    <div class="column-full">
        <table class="your-cases">
            <thead>
              <tr>
                <th scope="col">Decision</th>
                <th scope="col">Result</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tr>
              <td>Claimant error</td>
              <td>Undeclared capital</td>
              <td>1 November 2016</td>
            </tr>
          </table>
          <p>&nbsp;</p>
    </div>
</div>
<div class="grid-row">
    <div class="column-half">
        <div class="form-group">
          <label class="form-label" for="select-box">MVA</label>
          <select class="form-control" id="select-box">
            <option>Underpayment</option>
            <option>Overpayment</option>
          </select>
        </div>
    </div>
     <div class="column-half">
        <div class="form-group">
          <label class="form-label" for="first-name-2">Amount</label>
          <input class="form-control" id="first-name-2" name="first-name-2" type="text">
        </div>
    </div>
</div>


    <fieldset class="primary-nav form-group">
      <legend class="visuallyhidden">Form Navigation</legend>
      <input type="submit" value="Close case" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    </fieldset>







{% endblock %}