{% set page = {
  title: '',
  dev: true,
  html_classes: [],
  nav: {
    section: 'Re-route',
    subsection: 'Re-route the case',
    hideSecondary: true
  },
  layout: prototype.current.layoutPath + 'layout.html',
  primary: {
    col: "full"
  },
  secondary: false
} %}

{% extends page.layout %}

{% block primary %}

<div class="container">

<h1 class="heading-large top15">Re-route</h1>
<p>Where would you like to re-route your case to?


<div class="grid-row">
  <div class="column-full">

   <form>
    <div class="form-group">
      <fieldset>


        <label class="block-label" for="radio-1">
          <input id="radio-1" type="radio" name="radio-group" value="Investigation">
          Compliance
        </label>
        <label class="block-label" for="radio-2">
          <input id="radio-2" type="radio" name="radio-group" value="Investigation">
          Organised
        </label>
        <label class="block-label" for="radio-3">
          <input id="radio-3" type="radio" name="radio-group" value="Investigation">
          Investigation
        </label>



      </fieldset>
    </div>
    <div class="form-group">
      
       <legend class="visuallyhidden">Re-route case</legend>
      <input type="submit" value="Re-route case" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    </div>
  </form>
  </div>
</div>










{% endblock %}